.App {
  text-align: center;
/*background-image:linear-gradient(#234B59, white); */
  background-color: #fff);
  height:100%;
  color: var(--dark);
  font-weight: 100;
}

:root {
  --dark:rgba(0, 8, 118, 1);
  --light:#FCF8BB;
  --dark-grad:rgba(0, 0, 150, .8);
  --med-grad:rgba(229, 205, 185, .5);
  --light-grad:rgba(240, 240, 0, 1);
}

.navigation-panel{
  width:90%;
  margin: auto;
}

.App-header {
  height: 40px;
  padding: 0;
  width: 80%;
  position: absolute;
  left: 10%;
  background-color: var(--dark);
  z-index: 1;
}

.App-title {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: lighter;
  letter-spacing: 10px;
  color: var(--light);
  padding:0px;
  margin: 2%;

}

.App-intro {
  font-size: large;
  text-align: left;
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*  */

.feed{
  display:flex;
  height:100%;
  flex-direction: column;
}

.list-feed{
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.playlist {
  display:flex;
  padding: 1em;
  flex-direction: column;
  flex: 0 0 15%;
  background-color: white;
  color: var(--dark);
}

.playlist:hover{
  cursor:pointer;
  background-color: var(--light);
  color: var(--dark);
  box-shadow: 0px 3px 16px #555;
}

.playlist-titlecard{
  display: flex;
  text-align: left;
}

.playlist-name{
  font-size: 1em;
}

.nav-img {
  padding-right:5%;
}

.tracks{
  display:flex;
  flex-direction:column;
  text-align:left;
  overflow: scroll;
  height:400px;
  margin-top: 1em;
}

.track{
  cursor:pointer;
}

/* Info header Current Track */

.info-panel{
  width:100%;
  position: relative;
  min-height: 100px;
  margin: auto;
}

.track-info-header{
  height: 100%;
  position:relative;
  padding: 50% 0;
}

/* DUOTONE IMAGE*/

.info-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0%;
  right: 0;
  height: 100%;
  width:100%;
  /*box-shadow: 0px 2px 2px #000038;*/
}

.info-img img{
  width: 100%;
  height: 100%;
}

.info-img::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.duotone {
  background: linear-gradient(180deg, var(--light-grad), var(--med-grad));
}

.duotone img{
  mix-blend-mode: multiply;
  -webkit-filter: grayscale(100%) contrast(3);
  filter: grayscale(100%) contrast(3);
}

.duotone::after{
  background: linear-gradient(180deg, var(--med-grad), var(--dark-grad));
  mix-blend-mode: lighten;
}

/* TRACKNAME */

.track-info-name{
  height:100%;
  position: relative;
}

.track-name{
  position: relative;
  top: 0;
  margin: 0% 0%;
  background-color: var(--dark);
  width: 100%;
  z-index: 3;
  /*filter: drop-shadow(0 2px 6px #111);*/
}

h2 {
  font-size: 1em;
  font-weight: 800;
  color: #fff;
  text-align: left;
  margin: 0px;
  padding: 2% 3%;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.artist-name{
  position: relative;
  left: 0%;
  width: 100%;
  /*background: linear-gradient(180deg, rgba(230, 230, 185, 1), white);*/
  background-color: var(--light);
}

h3{
  font-size: 1em;
  font-weight: 100;
  padding: 2% 0% 3% 4%;
  text-align: left;
  margin: 0px;
  color: rgba(0, 8, 118, 1);
}
