

/*        MOBILE FIRST!!!         */

.App {
  text-align: left;
  background-color: #fff;
  height:100%;
  color: var(--dark);
  font-weight: 100;
}

:root {

  --dark:rgba(26, 26, 33, 1);
  --lighter:#FCF8BB;
  --light: #FFEC79;
  --med: #FFDF61;
  --dark-grad:rgba(0, 0, 0, .8);
  --med-grad:rgba(255, 239, 140, .2);
  --light-grad:rgba(255, 211, 0, 1);

}

.App-header {
 height: 40px;
 width: 70vw;
 position: absolute;
 left: 50%;
 margin-left: -35vw;
 z-index: 2;
 background-color: var(--dark);
 display: flex;
}

.App-title {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: var(--light);
  margin: auto;
  text-align: center;

}

/* Log in */

.ladning-panel{
  position:relative;
}

.landing-img{
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.app-description{
  position:absolute;
  top:40vh;
  left: 15vw;
  width:60vw;
  background-color: white;
  text-align: center;
  font-size: 1em;
  padding: 10vw 5vw;
}

.login-button{
  position: absolute;
  background-color: var(--dark);
  color: var(--lighter);
  text-decoration: none;
  width: 60vw;
  text-transform: uppercase;
  letter-spacing: 4px;
  top: 80vh;
  left: 15vw;
  text-align: center;
  padding: 5vw;
  box-shadow: 0 7px 14px #000;
}

/* Info header Current Track */

.info-panel{
  width:100%;
  position: relative;
  margin: auto;
}

.track-info-header{
  position:relative;
  padding: 50% 0;
  width: 100%;
  margin-left: 0;
}

/* DUOTONE IMAGE*/

.info-img {
  position: absolute;
  top: 0;
  height: 100%;
  width:100%;
}

.info-img img{
 width: 100%;
 height: 100%;
}

.info-img::after{
 content: '';
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
}

.duotone {
 background: linear-gradient(180deg, var(--light-grad), var(--med-grad));
}

.duotone img{
 mix-blend-mode: multiply;
 -webkit-filter: grayscale(100%) contrast(3);
 filter: grayscale(100%) contrast(3);
}

.duotone::after{
 background: linear-gradient(180deg, var(--med-grad), var(--dark-grad));
 mix-blend-mode: lighten;
}

/* CURRENT TRACKNAME */

.track-info-name{
 position:relative;
 width: 100%;
 margin-left: 0;
 padding: 0;

}

.track-name{
 position: relative;
 top: 0;
 margin: 0% 0%;
 background-color: var(--dark);
 width: 100%;
 z-index: 3;
}

h2 {
 font-size: 1em;
 font-weight: 800;
 color: #fff;
 text-align: left;
 margin: 0px;
 padding: 2% 4%;
 text-transform: uppercase;
 letter-spacing: 6px;
}

.artist-name{
 position: relative;
 top: 0;
 left: 0;
 width: 100%;
 background-color: var(--med);
}

h3{
 font-size: 1em;
 font-weight: 100;
 padding: 2% 0% 3% 4%;
 text-align: left;
 margin: 0px;
 color: var(--dark);
}

/* NAVIGATIONS */

.navigation-panel{
  width:90%;
  margin: auto;
  position:relative;
}

.nav-sub-header{
  font-size: 1em;
  color: var(--dark);
  text-align: left;
  margin-top: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/* NAVIGATIONS QUEUE */

.queue-nav:hover{
  cursor: pointer;
}

.queue-panel{
  height: 100%;
  background-color: var(--med);
  width:100%;
  overflow: scroll;
  margin-bottom: 2em;
  color:white;
}

.track-queue{
  padding: 10px;
  color: var(--dark);
  font-size: .8 em;
  line-height: 1.8;
}

.queue-track:first-child{
  margin-bottom: 1em;
  font-size: 1em;
}

.queue-track:first-child::before{
  content: "Now playing:";
  text-transform: uppercase;
  font-size: .6em;
  display: block;
}

.queue-track:nth-child(2)::before{
  content: "Next:";
  text-transform: uppercase;
  font-size: .6em;
  display: block;
}

.queue-hidden{
  display: none;
}

/* NAVIGATIONS LISTERNERS */

.listeners-panel{
  background-color: var(--lighter);
  height: 100px;
}

.listeners-hidden{
  display: none;
}

/* NAVIGATIONS PLAYSLISTS */

.feed{
 display:flex;
 height:100%;
 flex-direction: row;
}

.list-feed{
 display: inline-flex;
 overflow: scroll;
}

.playlist {
 display:flex;
 flex-direction: column;
 flex: 0 0 200px;
 background-color: white;
 color: var(--dark);
 margin-right: 20px;
}

.playlist:hover{
 cursor:pointer;
}

.playlist-titlecard{
 position: relative;
 height: 40px;
 width: 100%;
 background-color: var(--dark);
}

.nav-img {
 width: 40px;
 height: 40px;
 position: absolute;
 left: 0;
 margin-top: 0;
 z-index: 2;
}

.nav-img img{
 width:100%;
 height:100%;
}

.nav-img::after{
 content: " ";
 width:40px;
 height:40px;
 position:relative;
 top: -43px;
 left: 0px;
 z-index: 4;
 display: block;
}

.nav-duotone {
 background: linear-gradient(180deg, var(--light-grad), var(--med-grad));
}

.nav-duotone img{
 mix-blend-mode: multiply;
 -webkit-filter: grayscale(100%) contrast(1);
 filter: grayscale(100%) contrast(1);
}

.nav-duotone::after{
 background:linear-gradient(180deg, var(--med-grad), var(--dark-grad));
 mix-blend-mode: lighten;
}

.playlist-name{
  position: relative;
  top: 0px;
  font-size: 1em;
  padding: 5% 6% 5% 26%;
  margin-left: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  /* text-transform: uppercase; */
  /* letter-spacing: 2px; */
  color: white;
  z-index: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tracks{
 display:block;
 position:relative;
 top: 0px;
 text-align:left;
 margin-top: 1em;
 height: 200px;
 width: 190px;
 margin-left: 0;
 overflow: scroll;
}

.track{
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 padding: 5px 0;
}

.note {
 display: inline;
 padding: 10px;
 font-size: .7em;
}

.current-track{
  color: var(--dark);
  display: inline;
  padding: 10px;
  font-size: .7em;
}

.currentTrack{
  background-color: var(--med);
  color: var(--dark);
}

@media all and (min-width: 900px) {

  .App-header {
    height: 4vw;
    width: 18vw;
    margin-left:0;
    left: 5%;
    display: flex;
  }

  .App-title {
    font-size: 1.2vw;
    margin: auto;
  }

  .app-description{
    position:absolute;
    top:40vh;
    left: 15vw;
    width:20vw;
    font-size: 1em;
    padding: 6vh 2vw;
  }

  .login-button{
    width: 10vw;
    top: 60vh;
    left: 15vw;
    text-align: center;
    padding: 2vw 3vw;
    box-shadow: 0 7px 14px #000;
  }



  /* Info header Current Track */

  .info-panel{
    height: 30vw;
    width:100vw;
  }


/* DUOTONE IMAGE*/


  .info-img {
    position: absolute;
    top: 7vw;
    height: 18vw;
    width: 18vw;
    z-index: 1;
  }

  .info-img img{
    width: 100%;
    height: 100%;
  }

  .info-img::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .duotone {
    background: linear-gradient(180deg, var(--light-grad), var(--med-grad));
  }

  .duotone img{
    mix-blend-mode: multiply;
    -webkit-filter: grayscale(100%) contrast(3);
    filter: grayscale(100%) contrast(3);
  }

  .duotone::after{
    background: linear-gradient(180deg, var(--med-grad), var(--dark-grad));
    mix-blend-mode: lighten;
  }

  .track-info-header{
    position: absolute;
    height: 36vh;
    padding: 0;
    margin-left: 5%;
    width: 95%;
  }

  /* TRACKINFO */

  .track-info-name{
    position: relative;
    height: 30vw;
  }

  .track-name{
    position: absolute;
    background-color: var(--dark);
    width: 100%;
    z-index: 0;
    top: 12vw;
    height: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    font-size: 1.2vw;
    font-weight: 800;
    color: #fff;
    text-align: left;
    margin: 26vw;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 6px;
  }

  .artist-name{
    position: absolute;
    width: 100%;
    height: 3vw;
    top: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h3 {
    font-size: 1vw;
    font-weight: 100;
    padding: 0;
    text-align: left;
    margin: 26vw;
    color: var(--dark);
  }

  /*---------------------------------------------*/

  .playlist-nav {
    margin-top: 3em;
  }

  .feed{
    display:flex;
    height:100%;
    flex-direction: row;
  }

  .list-feed{
    display: flex;
    flex-direction: row;
    overflow: scroll;
  }

  .playlist {
    display:flex;
    flex-direction: column;
    flex: 0 0 18vw;
    background-color: white;
    color: var(--dark);
  }

  .playlist:hover{
    cursor:pointer;
  }

  .playlist-titlecard{
    position: relative;
    height:4vw;
    display: flex;
    flex-direction: column;
    width: 18vw;
  }

  .nav-img {
    width: 4vw;
    height: 4vw;
    margin-bottom: 0;
  }

  .nav-img img{
    width:100%;
    height:100%;
  }

  .nav-img::after{
    content: " ";
    width:4vw;
    height:4vw;
    position:relative;
    top: calc(-4vw - 3px);
    left: 0;
    z-index: 4;
  }

  .nav-duotone {
    background: linear-gradient(180deg, var(--light-grad), var(--med-grad));
  }

  .nav-duotone img{
    mix-blend-mode: multiply;
    -webkit-filter: grayscale(100%) contrast(1);
    filter: grayscale(100%) contrast(1);
  }

  .nav-duotone::after{
    background:linear-gradient(180deg, var(--med-grad), var(--dark-grad));
    mix-blend-mode: lighten;
  }

  .playlist-name{
    font-size: 1em;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding:0 1vw 0 5vw;
    margin: auto;
    z-index: 1;
  }

  .tracks{
    display:block;
    text-align:left;
    margin-top: 1em;
    height: 40em;
    width: 18vw;
  }

  .track{
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 10px;
    padding-right: 1em;
  }

  .track:hover{
    background-color: var(--lighter);
  }

  .note {
    display: inline;
    padding: 10px;
    font-size: .7em;
  }
}
